.NavbarOverall {
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0  100px 0 100px;
    margin: 10px;
    background-color: white;
    z-index: 999;
}

.NavbarOverall img{
    width: 150px;
    
}
input[type=text]{
    width: 50%;
    height: 70%;
    border-radius: 5px;
  border: none;
    margin-left: 10px;
}
::placeholder{
    padding-left: 20px;
    color: gray;

}
.NavbarDropdown{
    width: 10%;
    height: 70%;
    border: none;
    margin-left: 20%;
}
.NavbarButton{
    width: 6%;
    height: 70%;
    margin: 0 10px;
    border: none;
    color: white;
    background-color: red;
    border-radius: 10px;
}

.SecNavbar{
    width: 100%;
    height: auto;
    background-color: rgba(128, 128, 128, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 100px;
    color: rgb(40, 40, 40);
    position: relative;
}
.SecNavbar div{
    display: flex;
    padding-left: 10px;
}
.SecNavbar div+div{
    padding-right: 80px;
}
.SecNavbar div p{
    padding: 9px;
}

.scrollButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1;
}


.show{
    width: 400px;
    height: 600px;
    background-color:rgba(255, 255, 255, 0.573);
    border: 2px solid red;
    position: absolute;
    backdrop-filter: blur 2px ;
    right: 0;
    top: 80px;
     transition-duration: 1s;
    padding: 10px;
    overflow-y: scroll;
    position: fixed;
    z-index: 3333;
    color: white;
   }
 
   .hide{
    right: -100px; 
    display: none;
   }
   .slide-Content {
    color:black;
    font-size: 15px;
   }

.slide-Content div{
    display: flex;
    justify-content: space-between;
 
    
    
}
.slide-Content>div{
padding: 15px;
border-bottom: 2px solid rgba(255, 255, 255, 0.397);
}
.slidebtns{
    padding: 7px 10px;
    color: red;
    border: 1px solid red;
    background-color: transparent;
    border-radius: 20px;
   margin-left:40% ;
}
.slide-Content div p{
    margin-left: 10px;
 
}

.cancelbtn{
    margin-left: 230px;
}


   @media (max-width: 1200px) {
    .NavbarOverall {
        padding: 0 50px;
    }
    .NavbarDropdown {
        width: 15%;
    }
    .NavbarButton{
        width: 10%;
      
    }
}

@media (max-width: 768px) {
   .SecNavbar{
    flex-wrap: wrap;
   }
   .NavbarDropdown{
    width: 20%;
    margin-left: 5px;
   }
   input[type=text] {
   margin: 0 10px 0 10px;
}
   .NavbarButton {
    width: 20%;
    margin-left: 10px;
}
.NavbarOverall{
    padding: 0;
    justify-content: space-between;
}
}
.mobileNavbar{
    display: none;
}
@media (max-width: 480px) {
    .NavbarOverall{
        display: none;
    }
    .SecNavbar{
        display: none;
    }
   
    .mobileNavbar{
        width: 100%;
        height: 60px;
        padding: 10px;
        background-color: white;
       
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        position: sticky;
        top: 0;
    }
    .mobileNavbar div{
        display: flex;
        align-items: center;
    }
    .mobileNavbar div h2{
        margin-left: 20px;
    }
    .mobileNavbar div h3{
        margin-top: 5px;
    }
    .share{
        font-size: 25px;
    }
}