footer{
    width: 100%;
    height: auto;
    background-color: #292830;
    padding-top: 20px;
    margin-top: 120px;
    color: white;
    


}
.footer-contact{
    width: 100%;
    height: 60px;
    background-color: rgb(70, 70, 70);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    padding: 0 5%;
}
.footer-contact div{
    display: flex;
    align-items: center;
}
.footerbtn{
    padding: 10px 30px;
    background-color: rgb(190, 63, 63);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: larger;
}
.footericons{
    width: 100%;
    height: 100px;
    background-color: rgb(88, 88, 88);
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
 color: white;
}

.footericons div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footericons div p{
    font-size: 10px;
    margin-top: 10px;
}
.footer-details{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    padding-top:20px ;
}
.footer-details p{
    margin: 10px  0;
}
.footer-details p:nth-child(odd){
    color:white;
}
.footer-details p:nth-child(even){
    color: rgba(255, 255, 255, 0.422);
}
.footerofthelogo{
    width: 100%;
    height: 20px;
    border-top: 1px solid black;
    margin-top: 70px;
    position: relative;
    
}
.footerlogo{
    position: absolute;
    width: 200px;
    left:45%;
    top: -45px;
    background-color: #292830;
}
.footerIconforContact{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerIconforContact span{
    color: black;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.509);
    margin: 10px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:justify ;
    color: gray;
    font-size: smaller;
}
/* ---------------------responsive------------------- */

@media only screen and (min-width:300px)  and (max-width:380px){
    footer{
        margin-top: 150px;
        padding-top: 20px;
    }
    .footer-contact {
                font-size: 10px;
    }
    .footerbtn{
        padding: 5px 10px;
    }
}
  @media only screen and (min-width:380px) and (max-width: 480px) {

  .footerbtn{
    padding: 5px;
  }
  .footer-contact{
    font-size: 10px;
    word-spacing: 2px;
  }
  .footer-details{
    margin-left: 10px;
  }
  .footerlogo{
    display: none;
  }
.footerIconforContact{
    flex-wrap: wrap;
    height: auto;
   
}
footer{
    width: 100%;
    height:auto;
    margin-top: 30px;
    padding-bottom: 50px;
    
   
}
.copyright{
    margin-top: 40px;
}
} 
@media only screen and (min-width:480px) and (max-width: 980px) {
        footer{
            margin-top: 150px;
        }
}
@media only screen and (min-width:900px) and (max-width: 850px) {
  
    .footer-details{
        margin-left: 10px;
    }
    footer{
        margin: 0
    }
}
